{% extends 'base.html' %}
{% block content %}
    <header class="header ">
        <div class="container">
            <div class="header_slider">
                <div class="slider_content">
                    <h1 class="slider_title">
                        Архитектура и
                        проектирование
                    </h1>
                    <p class="slider_text">
                        Lorem ipsum dolor sit amet.
                    </p>
                    <div class="slider_btn">
                        <a href="" class="nav_btn">посмотреть проекты</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_right">
            <img src="../static/img/header-bg.png" class="slider_img" alt="">
        </div>
    </header>
{% endblock content %}